.tooltip-container {
  transform: translateZ(0);
  position: absolute;
  max-width: 200px;
  padding: 8px 10px 10px;
  font-size: 1.6rem;
  background-color: #2d2d2d;
  color: #fff;
  border-radius: 4px;
  opacity: 1; }
.tooltip-container[class*=" tooltip-"] {
  /*-webkit-animation: tooltip-anim 0.8s;*/
  /*-moz-animation: tooltip -anim 0.8s;*/
  /*-o-animation: tooltip-anim 0.8s;*/
  /*animation: tooltip-anim 0.8s;*/
}
.tooltip-container::after {
  position: absolute;
  display: block;
  content: ""; }
.tooltip-container.tooltip-center::after {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 0 6px 5px 6px;
  border-color: transparent transparent #2d2d2d transparent; }
[data-tooltip] {
  cursor: pointer;
  color: #7cb342;
  display: inline-block; }
@keyframes tooltip-anim {
  0% {
    opacity: 0;
    transform: matrix(0.5, 0, 0, 0.8, 0, 0); }
  20% {
    transform: matrix(1.1, 0, 0, 1.1, 0, 0); }
  40% {
    opacity: 1; }
  70% {
    transform: matrix(1, 0, 0, 1, 0, 0); }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0); } }
@-webkit-keyframes tooltip-anim {
  0% {
    opacity: 0;
    transform: matrix(0.5, 0, 0, 0.8, 0, 0); }
  20% {
    transform: matrix(1.1, 0, 0, 1.1, 0, 0); }
  40% {
    opacity: 1; }
  70% {
    transform: matrix(1, 0, 0, 1, 0, 0); }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0); } }
